#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button {margin-left: 19px;margin-right: 19px;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button:first-child {margin-left: 0;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button:last-child {margin-right: 0;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-0 {color: #fff;background: #32373c;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-0:hover {color: ;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-1 {color: #fff;background: #32373c;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-1:hover {color: ;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-2 {color: #fff;background: #32373c;}
#wp-block-themeisle-blocks-button-group-f6ae19c2 .wp-block-themeisle-blocks-button-2:hover {color: ;}